# ==============================
# DATABASE CONFIG (RDS)
# ==============================
RDS_HOST=endpoint-rds.region.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=ecommerce
RDS_USER=root
RDS_PASSWORD=PASSWORD_HERE

# ==============================
# REDIS CONFIG (ELASTICACHE)
# ==============================
REDIS_HOST=redis-endpoint.aps1.cache.amazonaws.com:6379
REDIS_PORT=6379
REDIS_SSL=true

# ==============================
# APP CONFIG
# ==============================
APP_ENV=prod
LOG_LEVEL=INFO
FLASK_SECRET_KEY=REPLACE_WITH_RANDOM_KEY